html {
    font-family: sans-serif;
} 
body {
    margin: 0;
}
header{
    background: purple;
    height: 100px;
}
h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}
section{
    background: bisque;
    width: 100%;
    height: 800px;
    display: flex;
  /*  flex-direction: row;
    flex-wrap: wrap;*/
    flex-flow: row wrap;/*resume las dos lineas anteriores*/
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
}
article{
    padding: 10px;
    margin: 10px;
    background: aqua;
    width: 300px;
    flex-grow: 1;
   /* display: flex;
    flex-direction: column;
    align-items: center;  estas lineas me centran el contenido de la parte turquesa*/
}
article:nth-child(1){
    flex-grow: 2; /*este crece el doble*/
}